/* Extra Small */
@media(max-width:767px){
/*	blockquote {
	    width: 98%;
	}*/
	blockquote p {
		font-size: 12px;
	}
	.home {
		border-bottom: solid 2px  #ffc708;
	}
	blockquote p {
		font-size: 15px;
	}
	form {
		width: 100%;
		margin-bottom: 20px;
	}
	.group-form {
		background-color: #ffc708;
		padding-bottom: 10px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}
	form .tt-form {
		background-color: #303030;
		width: 100%;
		padding: 5px 0;
		float: left;
		-webkit-border-top-left-radius: 20px;
		-webkit-border-top-right-radius: 20px;
		-moz-border-radius-topleft: 20px;
		-moz-border-radius-topright: 20px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		margin-bottom: 10px;
	}
	.tel-header {
		margin: 0;
		padding: 2% 0;
		text-transform: uppercase;
		font-size: 15px;
		text-align: center;
		font-weight: bold;
	}.tel-header span {
		font-size: 23px;
		font-weight: bold;
	}
}

/* Small */
@media(min-width:768px) and (max-width:991px){
	.home {
		border-bottom: solid 2px  #ffc708;
	}
	blockquote p {
		font-size: 15px;
	}
	form {
		width: 100%;
		margin-bottom: 20px;
	}
	.group-form {
		background-color: #ffc708;
		padding-bottom: 10px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}
	form .tt-form {
		background-color: #303030;
		width: 100%;
		padding: 5px 0;
		float: left;
		-webkit-border-top-left-radius: 20px;
		-webkit-border-top-right-radius: 20px;
		-moz-border-radius-topleft: 20px;
		-moz-border-radius-topright: 20px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		margin-bottom: 10px;
	}
	.tel-header {
		margin: 0;
		padding: 2% 0;
		text-transform: uppercase;
		font-size: 15px;
		text-align: center;
		font-weight: bold;
	}.tel-header span {
		font-size: 23px;
		font-weight: bold;
	}
}

/* Medium */
@media(min-width:992px) and (max-width:1199px){
	.home {
		height: 466px;
	}
	.home img {
		height: 100%;
	}
/*	blockquote {
	    width: 97%;
	}*/
	blockquote p {
		font-size: 15px;
	}
	.list-unstyled li {
		font-size: 17px;
		margin-bottom: 1px;
		padding-left: 8px;
		padding-right: 8px;
	}
	form {
		width: 100%;
		float: right;
	}
	.group-form {
		background-color: #ffc708;
		padding-bottom: 10px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}
	form .tt-form {
		background-color: #303030;
		width: 100%;
		padding: 5px 0;
		float: left;
		-webkit-border-top-left-radius: 20px;
		-webkit-border-top-right-radius: 20px;
		-moz-border-radius-topleft: 20px;
		-moz-border-radius-topright: 20px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		margin-bottom: 10px;
	}
	.tel-header {
		margin: 0;
		padding: 2% 0;
		text-transform: uppercase;
		font-size: 12px;
		text-align: center;
		font-weight: bold;
	}.tel-header span {
		font-size: 20px;
		font-weight: bold;
	}



}
/* Large */
@media(min-width:1200px){
	.home {
		height: 466px;
	}
	.home img {
		height: 100%;
	}
	blockquote {
	    width: 94%;
	}
	blockquote p {
		font-size: 15px;
	}
	.list-unstyled li {
		font-size: 17px;
		margin-bottom: 13px;
	}
	.servicos {
		width: 80%;
	}
	form {
		width: 85%;
		float: right;
	}
	.group-form {
		background-color: #ffc708;
		padding-bottom: 10px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}
	form .tt-form {
		background-color: #303030;
		width: 100%;
		padding: 5px 0;
		float: left;
		-webkit-border-top-left-radius: 20px;
		-webkit-border-top-right-radius: 20px;
		-moz-border-radius-topleft: 20px;
		-moz-border-radius-topright: 20px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		margin-bottom: 10px;
	}
	.tel-header {
		margin: 0;
		padding: 2% 0;
		text-transform: uppercase;
		font-size: 12px;
		text-align: center;
		font-weight: bold;
	}.tel-header span {
		font-size: 20px;
		font-weight: bold;
	}
}
body {
	font-family: 'Raleway', sans-serif;
}
.container-off-padding {
	padding-left: 0px;
	padding-right: 0px;
}
.row-off-margin {
	margin-left: 0px;
	margin-right: 0px;
}
.form-group {
	margin-bottom: 5px;
	padding: 0 10px;
}
label {
	margin-bottom: 1px;
	font-size: 13px;
}
form label {
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}
form button {
	text-transform: uppercase;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}
form .enviar {
	width: 95%;
	margin-top: 5px;
	font-size: 18px;
	letter-spacing: 2px;
	background-color: #303030;
}
form .enviar:hover, form .enviar:focus {
	color: #ddd;
}
#home {
	background-color: #a8c1bd;
	border-bottom: solid 5px #ffc708;
} 
#faixa-home {
	background-color: #ffc708;
	padding: 0;
}
#faixa-home p {
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	color: black;
	padding: 5px 0 0 0;
	font-family: 'Raleway', sans-serif;
}
.tt-servicos {
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	color: black;
	padding: 20px 0 50px 0;
	text-transform: uppercase;
}
#banner-bonus {
	background-color: #f8f8f8;
	padding: 15px 0;
}
blockquote {
    padding: 0;
    margin: 0 auto 10px;
    font-size: 17.5px;
    border-bottom: 1px solid #303030;
    border-left: none;
}
blockquote p {
	line-height: 16px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 17px;
}
.servicos {
	margin-bottom: 80px;
}
footer {
	padding: 25px 0;
	border-top: solid 1px #ddd;
}
.txt-resposta {
    color: #333;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    padding: 25% 5%;
    text-transform: uppercase;
}
.thumbnail {
	border: none;
	padding: 0;
	margin-bottom: 0;
}
.thumbnail .caption {
    padding: 0px;
    color: #333;
}
.tt-banner-bonus {
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	color: black;
	padding: 20px 0 0px 0;
	text-transform: uppercase;
}
.rodape p {
	font-size: 9px;
	width: 100% !important;
	text-align: center;
	padding-top: 20px;
	color: #000;
}
/*font-family: 'Raleway', sans-serif;*/